* {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
}
body {
  font-family: roboto, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  background-color: #0ea5e9;
  height: 100vh;
  color: white;
}

.logo-svg {
  width: 4em;
  height: 4em;
  cursor: pointer;
}

.icons-svg {
  width: 2em;
  height: 2em;
}

.dashboard-text {
  margin-left: -20px;
  margin-top: 10px;
}

.logo-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  margin: 20px 80px;
  cursor: pointer;
}

/* .logo-text h1 {
  font-size: 25px;
} */

.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin: 40px 90px;
  cursor: pointer;
}

.icon-text p {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.list-items-bottom {
  margin-top: 100px;
}

/* MAIN DISPLAY */
.main {
  background: white;
  height: 100vh;
  display: grid;
  grid-template-rows: 20% 80%;
}

.header {
  background-color: white;
  display: flex;
  flex-direction: column;
}

.profile-image {
  width: 4em;
  height: 4em;
  border-radius: 150px;
  margin: 0px 40px;
}

h4 {
  font-weight: bold;
}

.navbar,
.left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
}
.welcome {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px;
}

.form-input {
  width: 600px;
  height: 30px;
  background-color: #d4d4d4;
  border-radius: 150px;
  border: 1px solid #d4d4d4;
  margin-left: 20px;
  margin-right: 200px;
  padding-left: 10px;
}

.form-input:focus {
  outline: 1px solid #0ea5e9;
  background-color: white;
  box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
}

.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;
  margin-right: 200px;
}

.btn {
  background-color: #0ea5e9;
  width: 90px;
  height: 35px;
  color: white;
  border: 1px solid #0ea5e9;
  border-radius: 20px;
  height: 45px;
  cursor: pointer;
}
.icons-svg {
  cursor: pointer;
}

.profile-image {
  cursor: pointer;
}

.bell-icon {
  margin-left: 100px;
}

.btn:hover {
  background-color: lightblue;
  border: 1px solid #0ea5e9;
  box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
}

/* PROJECTS SECTION */

.content {
  background-color: skyblue;
  display: grid;
  /* grid-template-columns: 70% 30%; */
  grid-template-columns: 1fr;
}

.cards {
  display: grid;
  grid-template-columns: 50% 50%;
}

.projects-icons {
  height: 1.5em;
  width: 1.5em;
}
.card {
  background-color: white;
  border-left: 4px solid #facc15;
  border-radius: 10px;
  width: 70%;
  height: 150px;
  margin: 30px 0px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
  box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
  -webkit-box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
  -moz-box-shadow: -1px 7px 17px -1px rgba(0, 0, 0, 0.81);
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  gap: 10px;
  cursor: pointer;
}

h6 {
  font-size: 18px;
}

.card p {
  font-size: 14px;
  color: #737373;
  margin: 10px 0px;
}

.your-projects {
  font-size: 25px;
  margin-top: 8px;
  margin-left: 30px;
  color: #0ea5e9;
}
