* {
  font-family: roboto, sans-serif;
  margin: 0;
  padding: 0;
}

.grid {
  display: grid;
  grid-template-columns: 20% 80%;
}

.sidebar {
  background: skyblue;
  height: 100vh;
  color: white;
}

.main {
  background: white;
  height: 100vh;
}

.logo-svg {
  width: 4em;
  height: 4em;
  cursor: pointer;
}

.icons-svg {
  width: 2em;
  height: 2em;
}

.dashboard-text {
  margin-left: -20px;
  margin-top: 10px;
}

.logo-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
  margin: 20px 80px;
  cursor: pointer;
}

/* .logo-text h1 {
  font-size: 25px;
} */

.icon-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1em;
  margin: 40px 90px;
  cursor: pointer;
}

.icon-text p {
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.list-items-bottom {
  margin-top: 100px;
}
